.case_counter_container {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  background-color: #b1c2a8;
  border-radius: 5px;
}

table {
  margin: 1rem auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  background-color: #5d5c61;
  color: black;
  padding: 1rem;
  text-align: left;
}

td {
  border: 1px solid #333;
  padding: 1rem;
  text-align: left;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
