.case_counter_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #5d5c61;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #black;
}

tr:nth-child(even) {
    background-color: #5d5c61;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}
