.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #5d5c61;
    color: white;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .navbar-menu {
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 7px 40px;
  }
 a:hover {
   
    color: black;
  }

  
  .navbar-btn {
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
  }
  .navbar-btn:hover {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color:black;
    text-decoration: none;
  }

  .is-active {
    border-bottom: 2px solid white;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #4CAF50;
      min-width: 200px;
      padding: 1rem;
      border-radius: 0.25rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease-in-out;
    }
  
    .navbar-item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .is-active {
      background-color: #333;
    }
  
    .navbar-menu.is-active {
      display: flex;
    }
  
    .navbar-toggler {
      display: block;
    }
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: row;
  }
  