@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #379683;
}
.patient{
  max-width: 700px;
  background:white;
  border:solid;
  
  margin:0 auto;
  border-radius: 5px;
}
.search{
  display:flex;
  justify-content: space-between;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  
  
}
.butt{
  background-color: rgb(140, 140, 230);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}

.butt:hover {
  background-color: rgb(120, 140, 130);
}

.hellopat {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius:5px;
  border: none;
  background-color:rgb(140, 140, 230);
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  
  transition: all 0.3s;
 margin-left: 500px;
 margin-top: 50px;
}
.hellopat1 {
  width: 55%;
  height: 40px;
  font-size: 20px;
  border-radius: 0.25rem;
  border: none;
  background-color:#007bff;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
 
  transition: all 0.3s;
 margin: 266px;

 margin-top: 50px;
}
.hellopat1:hover {
  box-shadow: 0px 0px #B0E0E6;
  background-color: gray;
}

.hellopat:hover {
  box-shadow: 0px 0px #B0E0E6;
  background-color: gray;
}

.smol {
  width: 20%;
  height: 40px;
  font-size: 20px;
  border-radius: 0.25rem;
  border: none;
  background-color:rgb(140, 140, 230);
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
 
  transition: all 0.3s;
 margin: 900px;

 margin-top: 50px;
}
.smol:hover {
  box-shadow: 0px 0px #B0E0E6;
  background-color: gray;
}
p {
  font-size: 18px;
  text-align: center;
  transition:  0.5s ease-in-out;
 
}
h5{
  text-align: center;
  margin-right: auto;
}
.marquee-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

marquee {
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #333;
  padding: 5px;
  margin-top: 300px;
}
.case_counter_container {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  background-color: #ffffff2c;
  border-radius: 5px;
}

table {
  margin: 1rem auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  background-color: #5d5c61;
  color: black;
  padding: 1rem;
  text-align: left;
}

td {
  border: 1px solid #333;
  padding: 1rem;
  text-align: left;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.rarara {
  margin-top:65px;
}