@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #379683;
}
.patient{
  max-width: 700px;
  background:white;
  border:solid;
  
  margin:0 auto;
  border-radius: 5px;
}
.search{
  display:flex;
  justify-content: space-between;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  
  
}
.butt{
  background-color: rgb(140, 140, 230);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}

.butt:hover {
  background-color: rgb(120, 140, 130);
}

.hellopat {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  background-color:rgb(140, 140, 230);
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px #B0E0E6;
  transition: all 0.3s;
 margin-left: 500px;
 margin-top: 50px;
}
.hellopat1 {
  width: 55%;
  height: 40px;
  font-size: 20px;
  border-radius: 0.25rem;
  border: none;
  background-color:#007bff;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
 
  transition: all 0.3s;
 margin: 266px;

 margin-top: 50px;
}
.hellopat1:hover {
  box-shadow: 0px 0px #B0E0E6;
  background-color: gray;
}

.hellopat:hover {
  box-shadow: 0px 0px #B0E0E6;
  background-color: gray;
}